/*******************************************************************************
 * Projekt, Kurs: DT161G
 * File: style.css
 * Desc: Style sheets for Projekt
 *
 * Viktor Zetterström
 * vize1500
 * vize1500@student.miun.se
 ******************************************************************************/

@font-face {
  font-family: "fira-code";
  src: url("../font/FiraCode-Light.woff2") format("woff2");
}

@font-face {
  font-family: "staatliches";
  src: url("../font/Staatliches-Regular.woff2") format("woff2");
}

html, body {
  margin:0;
  padding:0;
}

html {
  font: 13px/1.2 "fira-code";
  color: rgb(43, 43, 43);
  background: rgb(241, 241, 241);
}

h1, h2 {
  font-family: "staatliches";
  margin-top: 15px;
  margin-bottom: 5px;
}

h3 {
  margin-bottom: 5px;
  margin-top: 20px;
}

input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: "fira-code";
}

input[type=checkbox], #logoutButton {
  display: inline;
}

input[type=submit] {
  color: rgb(241, 241, 241);
  background-color: rgb(190, 0, 0);
  border: 1px solid rgb(43, 43, 43);
  border-radius: 3px;
}

input[type=submit]:hover {
  color: rgb(104, 0, 0);
  border: 1px solid rgb(104, 0, 0);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid gray;
  padding: 10px 20px;
  background: gray;
  color: rgb(241, 241, 241);
}

a {
  font-weight: bold;
}

h1 {
  margin: 0;
}

.login {
  display: flex;
  float: right;
  text-align: right;
}

main {
  min-height: 500px;
  display: flex;
}

aside {
  float: left;
  max-width: 250px;
  padding: 20px;
}

a:link {
  color: rgb(190, 0, 0);
  text-decoration: none;
}

a:visited {
  color: rgb(190, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(104, 0, 0);
  text-decoration: underline;
}

ul {
  list-style-type: none;
  padding: 0;
}

.user-links {
  margin-bottom: 1em;
}

.user-link {
  font-size: 1.2em;
  padding:0;
}

.category-link {
  padding-left: 1em;
}

section {
  margin-left: 20px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-left: 2px solid gray;
  vertical-align: top;
  min-height: inherit;
}

.image-container {
  width: 600px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.image-container p {
  margin: 5px;
}

.regular-image {
  width: inherit;
  box-shadow: 4px 4px 35px -20px rgba(0,0,0,0.75);
  border: 0.3px solid black;
}

footer {
  border-top: 2px solid gray;
  text-align: center;
  padding: 10px;
}